<a href="https://colab.research.google.com/github/nakul1010/Assignments/blob/main/Assignment_2_DT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Data Set can be found here add in https://github.com/a-tharva/LP3-ML-ICS/blob/master/ML/assignment%202/data.csv
add it in sample_data folder
"""

'\nData Set can be found here add in \n'

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('sample_data/dataset.csv')

In [ ]:
df.head()

     Age  Income  Gender MaritialStatus Buys
0    <21    High    Male         Single   No
1    <21    High    Male        Married   No
2  21-35    High    Male         Single  Yes
3    >35  Medium    Male         Single  Yes
4    >35     Low  Female         Single  Yes

In [ ]:
#use label encoder to convert categorical data into numerical one
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df['Age'] = label_encoder.fit_transform(df['Age'])
df['Income'] = label_encoder.fit_transform(df['Income'])
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df['MaritialStatus'] = label_encoder.fit_transform(df['MaritialStatus'])
df['Buys'] = label_encoder.fit_transform(df['Buys'])
df.head()

   Age  Income  Gender  MaritialStatus  Buys
0    1       0       1               1     0
1    1       0       1               0     0
2    0       0       1               1     1
3    2       2       1               1     1
4    2       1       0               1     1

In [ ]:
#split the data in dependent and independent variables
X = df.iloc[:,:-1]
Y = df.iloc[:,[-1]]

In [ ]:
print(X)
print(Y)

    Age  Income  Gender  MaritialStatus
0     1       0       1               1
1     1       0       1               0
2     0       0       1               1
3     2       2       1               1
4     2       1       0               1
5     2       1       0               0
6     0       1       0               0
7     1       2       1               1
8     1       1       0               0
9     2       2       0               1
10    1       2       0               0
11    0       2       1               0
12    0       0       0               1
13    2       2       1               0
    Buys
0      0
1      0
2      1
3      1
4      1
5      0
6      1
7      0
8      1
9      1
10     1
11     1
12     1
13     0

In [ ]:
#Standard scaling done so every feature given same importance
from sklearn.preprocessing import StandardScaler    
st = StandardScaler()  
X = st.fit_transform(X)
Y_transform = st.fit_transform(Y)
print(X)
print("\n\n")
print(Y)

[[-0.08944272 -1.37198868  1.          1.        ]
 [-0.08944272 -1.37198868  1.         -1.        ]
 [-1.34164079 -1.37198868  1.          1.        ]
 [ 1.16275535  1.02899151  1.          1.        ]
 [ 1.16275535 -0.17149859 -1.          1.        ]
 [ 1.16275535 -0.17149859 -1.         -1.        ]
 [-1.34164079 -0.17149859 -1.         -1.        ]
 [-0.08944272  1.02899151  1.          1.        ]
 [-0.08944272 -0.17149859 -1.         -1.        ]
 [ 1.16275535  1.02899151 -1.          1.        ]
 [-0.08944272  1.02899151 -1.         -1.        ]
 [-1.34164079  1.02899151  1.         -1.        ]
 [-1.34164079 -1.37198868 -1.          1.        ]
 [ 1.16275535  1.02899151  1.         -1.        ]]



    Buys
0      0
1      0
2      1
3      1
4      1
5      0
6      1
7      0
8      1
9      1
10     1
11     1
12     1
13     0

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
classifier.fit(X,Y)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [ ]:
#currently predicting on train dataset only since test not given :)
classifier.predict(X)

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [ ]:
#print accuracy
accuracy = classifier.score(X,Y)*100
print(accuracy)

100.0

In [ ]:
"""
Theory : https://towardsdatascience.com/decision-trees-the-maths-the-theory-the-benefits-6315abd2f10a
"""